/* BUTTONS */

.btn-primary {
	font-family: "forma-djr-text", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12.5pt;
	color: #f3dfc1;
	padding: 6px 15px;
	background-color: #1c632a;
	border-radius: 12px;
	text-decoration: none;
	display: inline-block;
}
.btn-primary:hover {
	background-color: #123d1a;
}

.btn-secondary {
	font-family: "forma-djr-text", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12pt;
	color: #f3dfc1;
	padding: 5px 15px;
	background-color: #1c632a;
	border-radius: 12px;
	text-decoration: none;
}
