@import url("https://use.typekit.net/zkt1fja.css");
@import url("https://use.typekit.net/zkt1fja.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://use.typekit.net/zkt1fja.css");

h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 160pt;
	font-style: normal;
	color: #000;
}

h2 {
	font-family: "expo-serif-pro", serif;
	font-weight: 600;
	font-size: 40pt;
	font-style: normal;
	color: #000;
}

h3 {
}

h4 {
	font-family: "forma-djr-display", sans-serif;
	font-weight: 200;
	font-style: normal;
	color: #000;
	font-size: 30pt;
}

h5 {
}

h6 {
}

p {
	font-family: "forma-djr-display", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 23pt;
	color: black;
}

a {
	font-family: "forma-djr-text", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 24pt;
	color: black;
	border-bottom: 6px solid green;
	text-decoration: none;
}
