@import url("https://use.typekit.net/zkt1fja.css");
@import url("https://use.typekit.net/zkt1fja.css");
@import url("https://use.typekit.net/zkt1fja.css");
@import url("https://use.typekit.net/zkt1fja.css");

h1 {
	font-family: "expo-serif-pro", serif;
	font-weight: 600;
	font-size: 90pt;
	font-style: normal;
	color: #000;
}

h2 {
	font-family: "expo-serif-pro", serif;
	font-weight: 600;
	font-size: 40pt;
	font-style: normal;
	color: #000;
}

h3 {
	font-family: "expo-serif-pro", serif;
	font-weight: 600;
	font-style: italic;
	font-size: 35pt;
	color: #4d4d4d;
}

h4 {
}

h5 {
}

h6 {
}

p {
	font-family: "forma-djr-text", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 15pt;
	color: #4d4d4d;
}

a {
	font-family: "forma-djr-text", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 15pt;
	color: #8c0404;
	text-decoration: none;
}
