/* BASE LAYOUT FLEXBOX */

body {
	margin: 0;
	background-image: url(../images/Artboard\ 1\ copy\ 3-8.png);
}

.outer-wrapper {
	display: flex;
	justify-content: center;
	justify-self: center;
}

.wrapper {
	width: 90%;
}

/* HOME PAGE */
/* HOME PAGE --> HEADER*/
header {
	margin-top: 5px;
}
header .logo {
	width: fit-content;
	display: flex;
	justify-content: flex-start;
	z-index: 80;
}
header .logo a {
	justify-self: flex-start;
}

nav {
	z-index: 80;
}
.hamburger {
	z-index: 91;
}

/* HOME PAGE --> INTRO TEXT*/
.intro {
	display: flex;
	justify-content: center;
	align-items: center;
}
.intro p {
	margin-top: 8px;
}

.intro h1 {
	margin-bottom: 10px;
}
.intro .image {
	display: flex;
	justify-content: flex-end;
	flex: 1;
}
.intro .image img {
	width: 70%;
}
.intro .text {
	text-align: left;
	flex: 1;
}

.intro1 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.intro1 h1 {
	margin-bottom: 0px;
}

.intro1 p {
	margin-top: -10px;
	margin-left: 0px;
}

.break {
	margin-left: 50px;
}
.intro1 .image1 {
	flex: 1;
	background-image: url(../images/citroengras.png);
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center left;
	display: flex;
	align-items: center;
}
.intro1 #veenbes {
	flex: 1;
	background-image: url(../images/Veenbes.png);
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center left;
	display: flex;
	align-items: center;
}
.intro1 #aloevera {
	flex: 1;
	background-image: url(../images/aloevera.png);
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	align-items: center;
}
.intro1 #aloevera.image1 img {
	width: 80%;
}

.intro1 .image1 img {
	width: 90%;
	margin-left: 50px;
}
.intro1 .text1 {
	flex: 1;
	line-height: 60px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 120px 0px;
}

/* HOME PAGE --> IMAGE COREVALUES*/
.corevalues {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.corevalues img {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 40px;
}
.veen2 {
	width: 80%;
}

/* HOME PAGE --> RESPONSIVE DESIGN*/
@media (min-width: 1201px) {
	.wrapper {
		width: 1200px;
	}
	.veen {
		display: none;
	}
}
@media (max-width: 1200px) {
	.intro1 .image1 {
		background-image: none;
	}
	.intro1 #veenbes.image1 {
		background-image: none;
	}
	.intro1 #aloevera.image1 {
		background-image: none;
		justify-content: center;
	}

	.intro1 #aloevera.image1 img {
		width: 60%;
	}

	.intro1 .image1 img {
		width: 100%;
		margin-left: 0px;
	}
}
@media (max-width: 1000px) {
	.veen {
		display: none;
	}
	.text1 .veen2 {
		display: flex;
		flex-direction: column;
	}
	.intro1 .image1 {
		display: none;
	}
	.intro1 #veenbes.image1 {
		display: none;
	}
	.intro1 #aloevera.image1 {
		display: none;
	}
	.intro1 .text1 {
		flex: 1;
		line-height: 60px;
		text-align: left;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 40px;
		padding-bottom: 0;
	}
	.wrapper .carousel {
		height: auto;
	}
}
@media (min-width: 1001px) {
	.veen2 {
		display: none;
	}
}

@media (max-width: 768px) {
	.intro1 {
		display: flex;
		margin-left: 0px;
	}
	.intro1 .image1 {
		display: none;
	}

	.intro1 .text1 H1,
	.intro1 .text1 p {
		margin-left: 0px;
		text-align: left;
	}

	.text1 {
		justify-content: flex-start;
	}

	.intro {
		margin-top: 0px;
	}

	.hamburger .myLinks {
		z-index: 91;
	}
	.intro1 p {
		padding-bottom: 0;
	}

	.intro .image {
		display: none;
	}
}

@media (max-width: 480px) {
	.intro .image {
		display: none;
	}
}
@media (max-width: 650px) {
	#spanfont1 {
		display: none;
	}
	#title {
		display: none;
	}
	#title2 {
		line-height: 60px;
	}
}
@media (min-width: 651px) {
	#spanfont2 {
		display: none;
	}
	#title2 {
		display: none;
	}
}

/* OVER ONS */

.organisatie,
.kernwaarden .item {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.organisatie img {
	width: 70%;
}

.organisatie h2 {
	margin-bottom: 5px;
}
.kernwaarden img {
	width: 80%;
}

.organisatie .text,
.kernwaarden .text {
	flex: 1;
	text-align: left;
}

.organisatie .image,
.kernwaarden .image {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.organisatie .text {
	align-self: flex-start;
	margin-top: 110px;
}

.kernwaarden h3 {
	margin-bottom: 0px;
}

.kernwaarden h2 {
	margin-bottom: -145px;
}

.kernwaarden p {
	margin-top: 5px;
}

.kernwaarden .image2 {
	flex: 1;
	display: flex;
	justify-content: flex-start;
}

.kernwaarden .klimop {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-image: url(../images/klimop.png);
	background-size: contain;
	background-position: center right;
	background-repeat: no-repeat;
}

.kernwaarden .text2 {
	margin-top: 400px;
}

.klimop .text {
	width: 50%;
}

.kernwaarden .item2 {
	margin-top: -40px;
}

.klein img {
	width: 100%;
}
@media (max-width: 1200px) {
	.kernwaarden h2 {
		margin-bottom: -50px;
	}
}

@media (min-width: 1001px) {
	.klokjeklein {
		display: none;
	}
}
@media (max-width: 768px) {
	.organisatie {
		flex-direction: column;
	}
	.organisatie .image {
		justify-content: center;
	}
	.organisatie img {
		width: 50%;
	}
	.organisatie .text {
		margin-top: 10px;
	}
}
@media (max-width: 1000px) {
	.item {
		flex-direction: column;
	}
	.kernwaarden img {
		width: 50%;
	}
	.kernwaarden .item {
		flex-direction: column;
	}
	.kernwaarden .item2 {
		margin-top: 0px;
		justify-content: center;
	}
	.klimop .text {
		width: 100%;
	}
	.klokjegroot {
		display: none;
	}
	.kernwaarden .image2 {
		justify-content: center;
		margin-top: 0px;
	}
	.kernwaarden .klimop {
		background-image: none;
	}
	.kernwaarden .text2 {
		margin-top: 0px;
	}
	.image3 {
		display: flex;
		justify-content: center;
	}
	.image3 img {
		width: 80%;
		margin-left: -40px;
	}
	#emphatie {
		margin-top: 0;
	}
	.kernwaarden h2 {
		margin-top: 130px;
		margin-bottom: 0;
	}
	.organisatie {
		margin-top: 0;
	}
}
@media (max-width: 768px) {
	.bullshit2 .jump {
		display: none;
	}
}
@media (max-width: 500px) {
	.kernwaarden img {
		width: 80%;
	}
}

/* GEERT AUSLOOS */

.gert {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.gert .image {
	display: flex;
	justify-content: center;
	flex: 1;
}
.gert img {
	width: 60%;
}
.row2 .image {
	align-items: center;
}
.row2 img {
	width: 80%;
}
.bullshit {
	height: fit-content;
}
.row1 {
	flex-direction: row;
	display: flex;

	align-items: center;
}
.row2 {
	display: flex;
	justify-content: flex-end;
}
.row1 .text,
.row2 .text {
	width: 50%;
}
@media (max-width: 1200px) {
	.row2 img {
		width: 100%;
	}
}
@media (max-width: 730px) {
	.row2 img {
		width: 100%;
	}
	.row2 {
		flex-direction: column;
	}
	.row1 {
		flex-direction: column-reverse;
	}
	.row1 .text,
	.row2 .text {
		width: 100%;
	}
	.gert img {
		width: 100%;
	}
	.gert .item {
		background-image: none;
	}
}

/* VERSLAGEN*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	margin-top: 50px;
	cursor: pointer;
	padding: 1px;
	text-align: left;
	width: 100%;
	border-bottom: 5px dotted #1c632a;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	transition: 0.4s;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
	border-radius: 10px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	justify-content: flex-start;
}
.panel p {
	text-align: left;
}

.accordion:after {
	content: "+"; /* Unicode character for "plus" sign (+) */
	font-size: 50px;
	color: #1c632a !important;
	float: right;
	margin-left: 5px;
	margin-bottom: 10px;
}

.active:after {
	content: "-"; /* Unicode character for "minus" sign (-) */
	font-size: 50px;
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

.jump {
	display: flex;
	flex-direction: row;
	justify-self: center;
	width: 65%;
	margin-top: 10px;
	justify-content: space-between;
}
.jump a {
	font-size: 20px;
	font-weight: 700;
}
.bullshit2 {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.jumplink {
	margin-bottom: 0px;
	color: black;
	font-size: 12pt;
}
html {
	scroll-behavior: smooth;
}

/* OVER ONS -- DE GROEP */
.ledenlijst {
	margin-top: 100px;
	background-image: url(../images/leden.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
.ledenlijst .person {
	margin-top: 30px;
	width: 30%;
}
.ledenlijst .quote {
	font-size: 30px;
	margin: 0;
}
.ledenlijst .name {
	font-size: 30px;
	margin: 0;
	margin-top: 10px;
}
.ledenlijst .work {
	margin: 0;
}
#lid1 {
	margin-left: 0%;
}
#lid2 {
	margin-left: 35%;
}
#lid3 {
	margin-left: 70%;
}
#lid4 {
	margin-left: 35%;
}
@media (max-width: 1200px) {
	.ledenlijst {
		background-image: none;
	}
	.ledenlijst .person {
		margin-top: 30px;
		width: 50%;
		background-image: none;
	}
	#lid1,
	#lid3,
	#lid5 {
		margin-left: 0;
	}
	#lid2,
	#lid4 {
		text-align: right;
		margin-left: 50%;
	}
}
@media (max-width: 1000px) {
	.ledenlijst {
		margin-top: 40px;
	}
}
@media (max-width: 700px) {
	.ledenlijst .person {
		margin-top: 60px;
		width: 80%;
	}
	#lid1,
	#lid3,
	#lid5 {
		margin-left: 0;
	}
	#lid2,
	#lid4 {
		text-align: right;
		margin-left: 20%;
	}
}

.intro-verslag {
	width: 50%;
	flex: 1;
}
.bloem {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.intro-verslag h2 {
	margin-bottom: 0;
	margin-top: 70px;
}
.bloem img {
	width: 80%;
}

.verslag {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

footer {
	margin-top: 50px;
}

footer .einde {
	display: flex;
	padding: 20px;
	margin-top: 20px;
	background-color: #dbc3a9;
	flex-direction: column;
}

.einde {
	align-items: center;
}

footer h3 {
	font-size: 34pt;
	text-align: center;
	margin-top: 5px;
}

footer input {
	color: black;
	align-items: center;
	width: 100%;
	justify-content: center;
	margin-bottom: 20px;
}
form {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	border: none;
	padding: 5px;
}

#sendButton {
	width: 100px;
}

@media (max-width: 768px) {
	.verslag {
		flex-direction: column;
	}
	.bloem {
		display: none;
	}
	.intro-verslag {
		width: 100%;
	}
}

.carousel {
	position: relative;
	height: 620px;
}

.carousel__item {
	padding: 1em;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
	font-size: 2em;
	color: #ffffff;
	display: none;
}

.carousel__item--selected {
	display: block;
}

.carousel__nav {
	width: 100%;
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
}

.carousel__button {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: rgba(0, 0, 0, 1);
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
}

.carousel__button--selected {
	background: rgba(28, 99, 42, 1);
}
