/* BASE LAYOUT FLEXBOX */

body {
	margin: 0;
	background-image: url(../images/Artboard\ 1\ copy\ 3-8.png);
}

.outer-wrapper {
	display: flex;
	justify-content: center;
	justify-self: center;
}

.wrapper {
	width: 90%;
}

/* HOME PAGE */
/* HOME PAGE --> HEADER*/
header {
	margin-top: 5px;
}
header .logo {
	width: fit-content;
	display: flex;
	justify-content: flex-start;
	z-index: 80;
}
header .logo a {
	justify-self: flex-start;
}

nav {
	z-index: 80;
}
.hamburger {
	z-index: 91;
}

/* HOME PAGE --> INTRO TEXT*/
.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -150px;
}
.intro p {
	margin-top: 8px;
}

.intro h1 {
	margin-bottom: 10px;
}
.intro .image {
	display: flex;
	justify-content: flex-end;
	flex: 1;
}
.intro .image img {
	width: 90%;
}
.intro .text {
	text-align: left;
	flex: 1;
}

.intro1 {
	display: flex;
	justify-content: center;
	margin-top: -100px;
}

.intro1 h1 {
	margin-bottom: 0px;
}

.intro1 p {
	margin-top: -10px;
	margin-left: 20px;
}

.break {
	margin-left: 50px;
}
.intro1 .image1 {
	flex: 1;
}
.intro1 .image1 img {
	width: 80%;
	margin-top: 5%;
}
.intro1 .text1 {
	flex: 1;
	line-height: 60px;
	text-align: left;
	padding-top: 170px;
}

/* HOME PAGE --> IMAGE COREVALUES*/
.corevalues {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}
.corevalues img {
	width: 100%;
	margin-top: 70px;
	margin-bottom: 40px;
}

/* HOME PAGE --> RESPONSIVE DESIGN*/
@media (min-width: 1200px) {
	.wrapper {
		width: 1200px;
	}
}

@media (max-width: 768px) {
	.intro1 {
		display: flex;
		margin-left: 0px;
		margin-top: -190px;
	}
	.intro1 .image1 {
		display: none;
	}
	.intro1 .text1 H1,
	.intro1 .text1 p {
		margin-left: 0px;
		text-align: left;
	}

	.text1 {
		justify-content: flex-start;
	}

	.intro {
		margin-top: 0px;
	}
	#title {
		display: none;
	}
	#title2 {
		line-height: 60px;
	}

	.hamburger .myLinks {
		z-index: 91;
	}
}
@media (min-width: 769px) {
	#title2 {
		display: none;
	}
}

@media (max-width: 480px) {
	.intro .image {
		display: none;
	}
}
@media (max-width: 650px) {
	.intro1 .text1 h1 {
		font-size: 30px;
		line-height: 30px;
	}
	.intro1 .text1 h1.rodetext {
		font-size: 40px;
		line-height: 35px;
	}
}

/* OVER ONS */

.organisatie,
.kernwaarden .item {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.organisatie img {
	width: 70%;
}

.organisatie h2 {
	margin-bottom: 5px;
}
.kernwaarden img {
	width: 80%;
}

.organisatie .text,
.kernwaarden .text {
	flex: 1;
	text-align: left;
}

.organisatie .image,
.kernwaarden .image {
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.organisatie .text {
	align-self: flex-start;
	margin-top: 110px;
}

.kernwaarden h3 {
	margin-bottom: 0px;
}

.kernwaarden h2 {
	margin-bottom: -200px;
}

.kernwaarden p {
	margin-top: 5px;
}

.kernwaarden .image2 {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	margin-top: -50px;
}

.kernwaarden .klimop {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	background-image: url(../images/klimop.png);
	background-size: cover;
	background-position: top right;
}

.kernwaarden .text2 {
	margin-top: 400px;
}

.klimop .text {
	width: 50%;
}

.kernwaarden .item2 {
	margin-top: -40px;
}

/* GEERT AUSLOOS */

.gert {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.gert .image {
	display: flex;
	justify-content: center;
	flex: 1;
}
.gert img {
	width: 60%;
}
.row2 .image {
	align-items: center;
}
.row2 img {
	width: 100%;
}
.bullshit {
	height: fit-content;
}
.row1 {
	flex-direction: row;
	display: flex;

	align-items: center;
}
.row2 {
	display: flex;
	justify-content: flex-end;
}
.row1 .text,
.row2 .text {
	width: 50%;
}

@media (max-width: 730px) {
	.row2 img {
		width: 100%;
	}
	.row2 {
		flex-direction: column;
	}
	.row1 {
		flex-direction: column-reverse;
	}
	.row1 .text,
	.row2 .text {
		width: 100%;
	}
	.gert img {
		width: 100%;
	}
	.gert .item {
		background-image: none;
	}
}

/* VERSLAGEN*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	margin-top: 50px;
	background-color: transparent;
	cursor: pointer;
	padding: 1px;
	text-align: left;
	width: 100%;
	border-bottom: 5px dotted #1c632a;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	transition: 0.4s;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
	background-color: #ccc;
	border-radius: 10px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
	justify-content: flex-start;
}
.panel p {
	text-align: left;
}

.accordion:after {
	content: "+"; /* Unicode character for "plus" sign (+) */
	font-size: 50px;
	color: #1c632a !important;
	float: right;
	margin-left: 5px;
	margin-bottom: 10px;
}

.active:after {
	content: "-"; /* Unicode character for "minus" sign (-) */
	font-size: 50px;
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

.jump {
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	justify-content: center;
}

.jumplink {
	margin-bottom: 0px;
	color: black;
	font-size: 12pt;
}
html {
	scroll-behavior: smooth;
}

.ledenlijst {
	margin-top: 200px;
}

.wholelist {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.person {
	font-weight: bold;
}

.job {
	margin-bottom: 5px;
}

.intro-verslag {
	width: 50%;
	flex: 1;
}
.bloem {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.intro-verslag h2 {
	margin-bottom: 0;
	margin-top: 70px;
}
.bloem img {
	width: 80%;
}

.verslag {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

footer {
	margin-top: 50px;
}

footer .einde {
	display: flex;
	padding: 20px;
	margin-top: 20px;
	background-color: #dbc3a9;
	flex-direction: column;
}

.einde {
	align-items: center;
}

footer h3 {
	font-size: 34pt;
	text-align: center;
	margin-top: 5px;
}

footer input {
	color: black;
}

footer input {
	align-items: center;
	width: 360px;
	justify-content: center;
	margin-bottom: 20px;
}

input {
	border: none;
	padding: 5px;
}

.verstuur {
	font-family: "forma-djr-text", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12.5pt;
	color: #f3dfc1;
	padding: 6px 15px;
	background-color: #1c632a;
	border-radius: 12px;
	text-decoration: none;
	display: inline-block;
	width: 100px;
	border: none;
}

@media (max-width: 768px) {
	.verslag {
		flex-direction: column;
	}
	.bloem {
		display: none;
	}
	.intro-verslag {
		width: 100%;
	}
}
