/* NAVIGATION */

@import url("https://use.typekit.net/zkt1fja.css");

/* Style the navigation menu */
nav {
	overflow: hidden;
}

/* Hide the links inside the navigation menu (except for logo/home) */
nav #myLinks {
	display: none;
}

/* Style navigation menu links */
nav .hamburgerNav a {
	font-family: "forma-djr-text", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 12pt;
	color: #000000;
	text-align: center;
	padding: 25px 16px;
	text-decoration: none;
	display: block;
	position: relative;
}
.normalNav a {
	font-family: "forma-djr-text", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 12pt;
	color: #000000;
	margin-right: 25px;
}

/* Style the hamburger menu */
nav a.icon {
	display: block;
	position: absolute;
	right: 2.5%;
	top: -1px;
	font-size: 25px;
}

#onpage {
	color: #1c632a;
	text-decoration: underline;
}

nav a:hover,
#moreInfo:hover {
	color: #123d1a;
	text-decoration: underline;
}

@media screen and (max-width: 767px) {
	.normalNav {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.hamburgerNav {
		display: none;
	}
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: row;
	}
}
h2.quote {
	line-height: 30px;
}
