/* BASE LAYOUT FLEXBOX */

body {
	margin: 0;
	background-image: url(../images/Artboard\ 1\ copy\ 3-8.png);
}

.wrapper {
	width: 90%;
	margin-left: 5%;
}

/* HOME PAGE*/
/* HOME PAGE --> HEADER*/
header .logo {
	width: fit-content;
	display: flex;
	justify-content: flex-start;
}
header .logo a {
	justify-self: flex-start;
}

/* HOME PAGE --> INTRO TEXT*/
.intro {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.intro .image {
	display: flex;
	justify-content: flex-end;
}
.intro .image img {
	width: 70%;
}
.intro .text {
	text-align: center;
}

/* HOME PAGE --> IMAGE COREVALUES*/
.corevalues {
	margin-top: 30px;
}
.corevalues img {
	width: 100%;
}

/* HOME PAGE --> RESPONSIVE DESIGN*/
@media (max-width: 768px) {
	#title {
		display: none;
	}
}
@media (min-width: 768px) {
	#title {
		margin-bottom: 0;
	}
	.logo {
		display: none;
	}
	header nav {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		margin-top: 15px;
	}
}
@media (min-width: 1000px) {
	.intro .text {
		text-align: left;
		width: 50%;
	}
}
@media (max-width: 1000px) {
	.intro .image {
		display: none;
	}
	.intro {
		margin-top: 0;
	}
}
@media (min-width: 1200px) {
	.wrapper {
		width: 1200px;
		padding: 0 2.5%;
	}
	.outer-wrapper {
		display: flex;
		justify-content: center;
	}
}
